<div class="col col-lg-3 display-lg-up">
                        <div class="sidebar sidebar-left">
                            <h3 class="sidebar-category ">Menu</h3>
                            <ul class="sidebar-links">
                                <li><a class="" href="/admin/">Admin</a></li>
                                <li><a class="" href="/admin/new/">Registrar</a></li>
                                <li><a class="" href="/logout/">Salir</a></li>
                            </ul>
                        </div>
                    </div>