/*Importo los colores de mustard*/
@import '../../../../common/mustard-ui/vars/colors';

/*creo un nuevo color*/
$color-purple-500: #9c27b0 !default;
.button-purple {
  border-color: $color-purple-500;
  background-color: $color-purple-500;
}
/*la caja centrada*/
.center-box{
    margin-left: auto;
    margin-right: auto;
}
/*el color de la caja*/
.card{
    background: $color-gray-600;
}
/*sobreescribo el color del body*/
body{
    background-color: $color-amber-500;
}